
/*
blue = #02547D;
light blue = #0284A8;
turq = #02BEC4;
green = #A9E8DC;
light green = #E1F7E7

*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
font-family: 'Lato', sans-serif;

margin: 0;
}

main{
  background-color: #0284A8;
}

.background{
background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
url(/images/digital.png),
no-repeat fixed;
	background-size: cover;
}
.wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}



h1, h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1{
  font-size: 70px;

}

h2{
  font-size: 30px;
}
h3{
  font-size: 20px
}

h4{
  font-size: 15px
}

h4+p{
  font-weight: 150;
  font-style: italic;
}

h4~p{
  font-style: oblique;
}

.Interests, .Certification, .Work, .Education{
  background: #E1F7E7;
  padding: 10px;
}

.col-narrow{
  width: 35%;
  float: left;
  min-height: 175px;
}
.col-wide{
  width: 65%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}

.info-wrapper {
  background: #02547D;
  border-radius: 8px;
  margin: 8px 15px;
  padding: 1px 11px;
}

.logo-wrapper {

  background: #02547D;
  border-radius: 8px;
  margin: 0 15px;
  padding: 11px;
}

#jungle{
  background: url(../images/rainforest.jpg);
background-size: cover;
padding: 150px;
padding-bottom:150px;
}

header, footer{
  background-color: #0284A8;
  color: white;
  padding:10px;
  margin: 20px;
  line-height: 20px;
  margin: 0 auto;
  margin: 0;
  }

  .profile-img{
  border-radius: 50%;
  }


.links a{
  padding:10px;
  display: inline-block;
   color: #02547D;
   text-align: center;
}

   a:hover {
     text-decoration: none; color: white;
   }


.display{
  font-size: 0;
}

.button {
  background: #02BEC4;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 7px 25px;
  width: auto;
  text-decoration: none;
  border-radius: 30px;
  font-variant: all-small-caps;
  margin: 0 0 5px 0;
}

.button.social {
  font-size: 30px;
  padding: 12px 39px;
  border-radius: 14px;

}

.button:hover {
  background: #02547D;
  color: #FFFFFF;
}

.display a{
     padding:10px;
     display: inline-block;
    font-size: 16px;
      color: #02547D;
      layout: centered;
       }
       a{
         color: #E1F7E7;
       }

       a:hover{
         text-decoration: none;color: #02547D;
       }

  .Education{

  background: linear-gradient(rgba(2, 84, 125, 0.8), rgba(2, 84, 125, 0.5)),
              url(../images/hhs.jpg) no-repeat fixed;
  background-size: cover;
  padding: 150px;
   padding-bottom:150px;

}
